.wrapper {
  /* width: 100%; */
  flex: 1;
  background-color: var(--card-color-background);
  /* border: 1.5px dotted var(--primary-border); */
  box-shadow: 0px 0px 3px 0px var(--primary-border);
  border-radius: 4px;
  /* border: 2px solid blue; */
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.button {
  border: 1.5px dotted var(--primary-border);
  background-color: var(--secondary-color-background);
  color: var(--secondary-color-text);
  width: 100px;
  height: 3.5rem;
  font-size: 1rem;
  margin-right: 4px;
  border-radius: 4px;
}

.button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
